# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Node.js
node_modules/
build/
dist/
.eslintcache

# Databases
*.db
*.sqlite3

# Environment Variables
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
