flask
flask-cors
pandas
openpyxl
flask-sqlalchemy
flask-migrate
flask-jwt-extended
fpdf
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
sqlalchemy
marshmallow-sqlalchemy
flask-marshmallow
psycopg2-binary  # The PostgreSQL Translator
